# Environment configuration for API Gateway
NODE_ENV=development

# Connection
TRANSPORT_URL=0.0.0.0:5006
HTTP_PORT=9106

# Database
DATABASE_URL=

# Rabbit MQ
RABBITMQ_URL=
NOTIFICATION_RABBITMQ_QUEUE=
ORDER_EVENTS_RABBITMQ_QUEUE=

#Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Paypal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=sandbox  # 'sandbox' | 'live'
PAYPAL_WEBHOOK_ID=